@page
@model WhoLives_CapstoneFinal.Pages.Inventory.UpsertModel

@{
    ViewData["Title"] = "Part Information";
}

<h1>Part Information</h1>
<hr />
<div class="row">
    <div class="col-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InventoryItemObj.Name" class="control-label mr-3">Name:</label>
                <div class="form-inline col-12">
                    <input asp-for="InventoryItemObj.Name" type="text" value="@Model.InventoryItemObj.Name" class="form-control" required />
                </div>

            </div>
            <div class="form-group">
                <label asp-for="InventoryItemObj.Description" class="control-label mr-3">Description:</label>
                <div class="form-inline col-12">
                    <input asp-for="InventoryItemObj.Description" type="text" value="@Model.InventoryItemObj.Description" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemObj.ListRetailCost" class="control-label mr-3">Retail Cost:</label>
                <div class="form-inline col-12">
                    <input asp-for="InventoryItemObj.ListRetailCost" type="text" value="@Model.InventoryItemObj.ListRetailCost" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label mr-3">Wholesale Cost:</label>
                <div class="form-inline col-12">
                    <input type="text" value="Calculated Value" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemObj.TotalLooseQty" class="control-label mr-3">Total Loose Quantity:</label>
                <div class="form-inline col-12">
                    <input asp-for="InventoryItemObj.TotalLooseQty" type="text" value="@Model.InventoryItemObj.TotalLooseQty" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemObj.ReorderQty" class="control-label mr-3">Reorder Quantity:</label>
                <div class="form-inline col-12">
                    <input asp-for="InventoryItemObj.ReorderQty" type="text" value="@Model.InventoryItemObj.ReorderQty" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemObj.MeasuresID" class="control-label mr-3">Measure Type:</label>
                <div class="form-inline col-12">
                    <select name="measureID" asp-for="InventoryItemObj.MeasuresID" class="form-control" asp-items="@ViewBag.MeasureID" ></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemObj.MeasureAmnt" class="control-label mr-3">Measure Amount:</label>
                <div class="form-inline col-12">
                    <input asp-for="InventoryItemObj.MeasureAmnt" type="text" value="@Model.InventoryItemObj.MeasureAmnt" class="form-control" required />
                </div>
            </div>


            @*<div class="form-group">
                    @Html.DropDownListFor(i => i.InventoryItemObj.MeasuresID,//.MenuItemObj.MenuItem.FoodTypeId,
                   Model.InventoryItemObj.Measure.MeasureName,
                   //Model.MenuItemObj.FoodTypeList,
                   "-Please select a Measurement Type",
                   new { @class = "form-control" })

                    <span class="text-danger" asp-validation-for="InventoryItemObj.InventoryItemID"></span>
                </div>*@

            <div class="custom-control custom-checkbox">
                <input asp-for="InventoryItemObj.IsAssembly" type="checkbox" class="custom-control-input">
                <label asp-for="InventoryItemObj.IsAssembly" class="custom-control-label">Is this Item an Assembly?</label>
            </div>
            <br />
            <div class="row text-center">
                <div class="col-4">
                    <input type="hidden" asp-for="InventoryItemObj.InventoryItemID" />
                    <input type="submit" value="Save" style="width:auto;" class="btn btn-success" />
                </div>
                <div class="col-4">
                    <a class="btn btn-danger" style="width:auto;" asp-route-id="@Model.InventoryItemObj.InventoryItemID" asp-page="./Delete">Delete</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-info" style="width:auto;" asp-page="./Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6 card">
        <br />
        <ul class="nav nav-tabs nav-fill">
            <li><a class="nav-item nav-link active" data-toggle="tab" href="#purchasehistory">Purchase History</a></li>
            @if (Model.InventoryItemObj.IsAssembly)
            {
                <li><a class="nav-item nav-link" data-toggle="tab" href="#assemblycomponents">Assembly Components</a></li>
            }
        </ul>
        <div class="tab-content">
            <div id="purchasehistory" class="tab-pane fade in active text-center">
                <div>
                    <table class="table table-borderless">
                        <thead>
                            <tr class="border-bottom">
                                <td>Order Date</td>
                                <td>Vendor</td>
                                <td>Qty</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div id="assemblycomponents" class="tab-pane fade text-center">
                <table class="table table-striped">
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('[name="Edit"]').on('click', function () {
        var prev = $(this).prev('input'),
            ro = prev.prop('readonly');
        prev.prop('readonly', !ro).focus();
        $(this).val(ro ? 'Save' : 'Edit');
    });
</script>
