@page
@model WhoLives_CapstoneFinal.Pages.Inventory.UpsertModel

@{
    ViewData["Title"] = "Part Information";
}

<h1>Part Information</h1>
<hr />
<div class="row">
    <div class="col-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InventoryItemVM.InventoryItemObj.Name" class="control-label mr-3">Name:</label>
                <div class="form-inline col-12">
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.Name" type="text" value="@Model.InventoryItemVM.InventoryItemObj.Name" class="form-control" readonly required id="nameInput" />
                    }
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.Name" type="text" value="@Model.InventoryItemVM.InventoryItemObj.Name" class="form-control" required id="nameInput" />
                    }
                </div>
        </div>
            <div class="form-group">
                <label asp-for="InventoryItemVM.InventoryItemObj.Description" class="control-label mr-3">Description:</label>
                <div class="form-inline col-12">
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.Description" type="text" value="@Model.InventoryItemVM.InventoryItemObj.Description" class="form-control" readonly required id="descriptionInput" />
                    }
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.Description" type="text" value="@Model.InventoryItemVM.InventoryItemObj.Description" class="form-control" required id="descriptionInput" />
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemVM.InventoryItemObj.ListRetailCost" class="control-label mr-3">Retail Cost:</label>
                <div class="form-inline col-12">
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.ListRetailCost" type="number" step="1" min="0" value="@Model.InventoryItemVM.InventoryItemObj.ListRetailCost" class="form-control" readonly required id="retailInput" />
                    }
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.ListRetailCost" type="number" step="1" min="0" value="@Model.InventoryItemVM.InventoryItemObj.ListRetailCost" class="form-control" required id="retailInput" />
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label mr-3">Wholesale Cost:</label>
                <div class="form-inline col-12">
                    <input asp-for="InventoryItemVM.InventoryItemObj.WholeSaleCost" type="number" step="1" min="0" value="@Model.InventoryItemVM.InventoryItemObj.WholeSaleCost" class="form-control" readonly required id="wholesale" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemVM.InventoryItemObj.TotalLooseQty" class="control-label mr-3"></label>
                <div class="form-inline col-12">
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.TotalLooseQty" type="number" step="1" min="0" value="@Model.InventoryItemVM.InventoryItemObj.TotalLooseQty" class="form-control" readonly required id="looseInput" />
                        
                    }
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.TotalLooseQty" type="number" step="1" min="0" value="@Model.InventoryItemVM.InventoryItemObj.TotalLooseQty" class="form-control" required id="looseInput" />
                    }
                </div>
                <label hidden id="warningLabel" class="control-label mr-3 text-danger" >Warning: Changing this quantity does not affect the related quantities.</label>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemVM.InventoryItemObj.ReorderQty" class="control-label mr-3"></label>
                <div class="form-inline col-12">
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.ReorderQty" type="number" step="1" min="0" value="@Model.InventoryItemVM.InventoryItemObj.ReorderQty" class="form-control" readonly required id="reorderInput" />
                    }
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.ReorderQty" type="number" step="1" min="0" value="@Model.InventoryItemVM.InventoryItemObj.ReorderQty" class="form-control" required id="reorderInput" />
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemVM.InventoryItemObj.MeasuresID" class="control-label mr-3">Measure Type:</label>
                <div class="form-inline col-12">
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        @Html.DropDownListFor(i => i.InventoryItemVM.InventoryItemObj.MeasuresID,
                        Model.InventoryItemVM.MeasureInfo,
                        "-Please select a Measurement Type",
                        new { @class = "form-control", @readonly = "true", @disabled = "true", @id = "measureType" })
                        <span class="text-danger" asp-validation-for="InventoryItemVM.InventoryItemObj.InventoryItemID"></span>
                    }
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        @Html.DropDownListFor(i => i.InventoryItemVM.InventoryItemObj.MeasuresID,
                        Model.InventoryItemVM.MeasureInfo,
                        "-Please select a Measurement Type",
                        new { @class = "form-control", @id = "measureType" })
                        <span class="text-danger" asp-validation-for="InventoryItemVM.InventoryItemObj.InventoryItemID"></span>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItemVM.InventoryItemObj.MeasureAmnt" class="control-label mr-3">Measure Amount:</label>
                <div class="form-inline col-12">
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.MeasureAmnt" type="number" step="1" min="1" value="@Model.InventoryItemVM.InventoryItemObj.MeasureAmnt" class="form-control" readonly required id="measureInput" />
                    }
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        <input asp-for="InventoryItemVM.InventoryItemObj.MeasureAmnt" type="number" step="1" min="1" value="@Model.InventoryItemVM.InventoryItemObj.MeasureAmnt" class="form-control" required id="measureInput" />
                    }
                </div>
            </div>

            <div class="custom-control custom-checkbox">
                <input asp-for="InventoryItemVM.InventoryItemObj.IsAssembly" type="checkbox" class="custom-control-input">
                <label asp-for="InventoryItemVM.InventoryItemObj.IsAssembly" class="custom-control-label">Is this Item an Assembly?</label>
            </div>
            <br />
            <div class="row text-center">
                <div class="col-6">
                    <input type="hidden" asp-for="InventoryItemVM.InventoryItemObj.InventoryItemID" />
                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                    {
                        <input type="button" value="Edit Part" style="width:auto;" class="btn btn-primary" id="editButton" />
                        <input type="submit" value="Save" style="width:auto; display:none;" class="btn btn-primary" id="saveButton" />
                        <input type="button" value="Delete" style="width:auto; display:none;" class="btn btn-danger" id="deleteButton" onclick="Delete('/api/inventoryItem/'+@Model.InventoryItemVM.InventoryItemObj.InventoryItemID)" />
                        <script>
                            window.addEventListener("load", function (e) {
                                var editButton = this.document.getElementById("editButton");
                                var saveButton = this.document.getElementById("saveButton");
                                var deleteButton = this.document.getElementById("deleteButton");

                                var name = this.document.getElementById("nameInput");
                                var descriptionInput = this.document.getElementById("descriptionInput");
                                var retail = this.document.getElementById("retailInput");
                                var loose = this.document.getElementById("looseInput");
                                var reorder = this.document.getElementById("reorderInput");
                                var measureType = this.document.getElementById("measureType");
                                var measure = this.document.getElementById("measureInput");
                                var warningLabel = this.document.getElementById("warningLabel");

                                editButton.addEventListener("click", function (e) {
                                    editButton.style.display = "none";
                                    saveButton.style.display = "initial";
                                    deleteButton.style.display = "initial";
                                    descriptionInput.removeAttribute("readonly");
                                    name.removeAttribute("readonly");
                                    retail.removeAttribute("readonly");
                                    loose.removeAttribute("readonly");
                                    reorder.removeAttribute("readonly");
                                    measureType.removeAttribute("readonly");
                                    measureType.removeAttribute("disabled");
                                    measure.removeAttribute("readonly");

                                   
                                });

                                loose.addEventListener("input", function (e) {
                                    warningLabel.removeAttribute("hidden");
                                })



                            })

                            function Delete(url) {
                                swal({
                                    title: "Are you sure you want to delete?",
                                    text: "You will not be able to restore the data!",
                                    icon: "warning",
                                    buttons: true,
                                    dangerMode: true
                                }).then((willDelete) => {
                                    if (willDelete) {
                                        $.ajax({
                                            type: 'DELETE',
                                            url: url,
                                            success: function (data) {
                                                if (data.success) {
                                                    toastr.success(data.message);
                                                    //location.reload();
                                                    window.location.href = "./Index";
                                                }
                                                else {
                                                    toastr.error(data.message);
                                                }
                                            }
                                        });
                                    }
                                });
                            }
                        </script>
                    }

                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                    {
                        <input type="submit" value="Save" style="width:auto;" class="btn btn-primary" id="saveButton" />
                    }
                </div>
                <div class="col-6">
                    <a class="btn btn-warning" style="width:auto;" asp-page="./Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
    {
        <div class="col-6 card">
            <br />
            <div class="row">
                <div class="col-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            @if (Model.InventoryItemVM.InventoryItemObj.IsAssembly)
                            {
                                <a class="nav-item nav-link active" id="nav-assemblyComponents-tab" data-toggle="tab" href="#nav-assemblyComponents" role="tab" aria-controls="nav-assemblyComponents" aria-selected="true">Assembly Components</a>
                            }
                            else
                            {
                                <a class="nav-item nav-link active" id="nav-purchaseHistory-tab" data-toggle="tab" href="#nav-purchaseHistory" role="tab" aria-controls="nav-purchaseHistory" aria-selected="false">Purchase History</a>
                            }


                        </div>
                    </nav>


                    @if (Model.InventoryItemVM.InventoryItemObj.IsAssembly)
                    {
                        <div class="tab-pane fade show active" id="nav-assemblyComponents" role="tabpanel" aria-labelledby="nav-assemblyComponents-tab">
                            <table class="table-bordered table-striped" id="assemblyComponents" style="width:100%">
                                <thead class="thead-dark table-bordered">
                                    <tr class="card-header">
                                        <th style="position:sticky;top:0">Name</th>
                                        <th style="position:sticky;top:0" class="text-center">Required Qty</th>
                                        <th style="position:sticky;top:0" class="text-center">On Hand Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Asse in Model.InventoryItemVM.AssemblyListInfo)
                                    {
                                        <tr>
                                            <td>@Asse.InventoryItem.Name</td>
                                            <td>@Asse.ItemQty</td>
                                            <td>@Asse.InventoryItem.TotalLooseQty</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <div class="row text-right">
                                <div class="col-12">
                                    <input type="hidden" asp-for="InventoryItemVM.InventoryItemObj.InventoryItemID" />
                                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID != 0)
                                    {
                                        <a class="btn btn-primary" style="width:auto;" href="/Inventory/Assembly?id=@Model.InventoryItemVM.InventoryItemObj.InventoryItemID">Edit Assembly Components</a>
                                    }
                                    @if (Model.InventoryItemVM.InventoryItemObj.InventoryItemID == 0)
                                    {
                                        <input type="submit" value="Save" style="width:auto;" class="btn btn-primary" />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <div class="tab-pane fade show active" id="nav-purchaseHistory" role="tabpanel" aria-labelledby="nav-purchaseHistory-tab">
                                <table class="table-bordered table-striped" id="purchaseHistory" style="width:100%">
                                    <thead class="thead-dark table-bordered">
                                        <tr class="card-header">
                                            <th style="position:sticky;top:0">Vendor</th>
                                            <th style="position:sticky;top:0" class="text-center">Purchase Order</th>
                                            <th style="position:sticky;top:0" class="text-center">Order Date</th>
                                            <th style="position:sticky;top:0" class="text-center">Purchased Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var PO in Model.InventoryItemVM.PurchaseOrderInfo)
                                        {
                                            <tr>
                                                <td>@PO.Vendor.VendorName</td>
                                                <td><a href="/PurchaseOrders/Upsert?id=@Model.InventoryItemVM.InventoryItemObj.InventoryItemID" style="cursor:pointer">@PO.PurchaseOrderID</a></td>
                                                <td>@PO.DateOrdered</td>
                                                <td>@PO.OrderItems.ElementAt(0).Price</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                            }
                        
                    </div>
            </div>
        </div>
    }
</div>
@*@section Scripts {
        <script src="~/js/itemupsert.js"></script>

    }*@
